<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquimenu - Deliciosos Menús a tu Alcance</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="/">INICIO</a>
            <a href="/menu">MENÚ SEMANAL</a>
            <a href="/reservar">RESERVAR</a>
            <a href="#reseñas">RESEÑAS</a>
            <a href="/nosotros">NOSOTROS</a>
            <a href="/contacto">CONTACTO</a>
        </nav>
        
    
        
        <h1>Aquimenu</h1>
        <p>DELICIOSOS MENÚS A TU ALCANCE</p>
        

        
        <a href="/nosotros" class="triangulo-abajo"></a>
    </header>
</body>
</html>