<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nosotros - Aquimenu</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="nosotros-body">

<section class="nosotros-contenido">
    <h1 class="nosotros-titulo">¡Hola!<br>Somos Aquímenu</h1>

    <div class="nosotros-texto">
        <p>
            Somos un equipo que entiende las necesidades reales de las personas en su día a día.
            Aquimenu permite que, cada día, los usuarios puedan ver un menú con dos opciones simples y sabrosas.
            Eligen su plato, reservan y definen a qué hora lo retiran. Sin filas, sin esperas, sin estrés.
            Queremos que la comida diaria deje de ser un problema y se vuelva algo cómodo y planificado.
            Porque creemos que la organización también se saborea.<br><br>
            Con Aquimenu, tu comida te espera.
        </p>
    </div>

    <div class="nosotros-botones">
        <a href="/menu" class="btn-reserva">INICIAR RESERVA</a>
        <a href="/" class="btn-principal">VOLVER AL MENÚ PRINCIPAL</a>
    </div>
</section>

</body>
</html>
